<body class="pm-body">
  <h1 class="pm-heading">แก้ไข Person</h1>

  <%= form_with model: @person, url: page_path(@person), method: :patch, local: true, class: 'pm-form' do |form| %>
    <div class="pm-form__group">
      <%= form.label :nickname, "ชื่อเล่น", class: 'pm-form__label' %>
      <%= form.text_field :nickname, class: 'pm-form__input' %>
    </div>

    <div class="pm-form__group">
      <%= form.label :birthdate, "วันเกิด", class: 'pm-form__label' %>
      <%= form.date_field :birthdate, class: 'pm-form__input' %>
    </div>

    <div class="pm-form__group">
      <%= form.label :note, "หมายเหตุ", class: 'pm-form__label' %>
      <%= form.text_area :note, class: 'pm-form__input pm-form__textarea' %>
    </div>

    <div class="pm-form__group">
      <%= form.submit "บันทึกการแก้ไข", class: 'pm-form__submit' %>
    </div>
  <% end %>

  <%= link_to 'กลับไปหน้าหลัก', page_index_path, class: 'pm-link' %>
</body>